body {
    background-color: black;
    color: rgb(0, 255, 255);
  }

  .navbar .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: rgb(24, 24, 24);
    color: rgb(154,0,240);
}

.navbar-nav li a{
    color: rgb(0,255,255);
}


h1 {
    color: white;
    font-family: andale mono, monospace;
    font-size: 4em;

}


.businessCard {
    margin-left: 20%;
    margin-top: 150px;
    padding-left: 10px;
    border-left: 2px solid rgb(154,0,240);
    font-family: andale mono, monospace;
    animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.active {
    color: rgb(0,255,255) !important;
}

.tagLine {
    float: right;
    margin-right: 5%;
    font-family: 'Impact', sans-serif ;
    font-size: 2em;
    color:rgb(144, 197, 247);
    width: 90%;
    text-align: right;
    padding-top: 120px;
    max-width: 550px;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}


.clearfix {
    clear:both;
}

.experience {
    float: left;
    margin-left: 5%;
    margin-top: 100px;
    padding-left: 5%;
    border-left: 2px solid rgb(154,0,240);

}

.title {
    font-family: 'Impact', sans-serif ;
    font-size: 2.4em;
    text-decoration: underline ;
    padding-bottom: 30px;
}
.discriptor {
    font-size: 1em;
    color: white;

}

.year {
    font-family: 'Impact', sans-serif ;
    color: white;
    font-size: 2em;
    float: left;
    width: 100%;

}

.item{
    border-right: 2px solid rgb(0,255,255);
    border-top: 2px solid rgb(0,255,255);
    border-top-right-radius: 15px;
    color: rgb(154,0,240);
    padding: 15px;
    float: right;
    width: 70%;
    margin-right: 15px;
    margin-bottom: 10px;

}

.itemTitle {

    color: white;
    font-family: 'Impact', sans-serif ;
    font-size: 1.5em;
    text-decoration: underline ;
    text-decoration-color: rgb(0,255,255);


}

.itemDescription {
    color: white;
    text-decoration: none !important;

}

#fcf-form {
    display:block;
}

.fcf-body {
    margin: 0;
    font-family: -apple-system, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    padding: 30px;
    padding-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    max-width: 100%;
}

.fcf-form-group {
    margin-bottom: 1rem;
}

.fcf-input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.fcf-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.fcf-form-control:focus {
    border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
    height: auto;
}

textarea.fcf-form-control {
    font-family: -apple-system, Arial, sans-serif;
    height: auto;
}

label.fcf-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.fcf-credit {
    padding-top: 10px;
    font-size: 0.9rem;
    color: #545b62;
}

.fcf-credit a {
    color: #545b62;
    text-decoration: underline;
}

.fcf-credit a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.fcf-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .fcf-btn {
        transition: none;
    }
}

.fcf-btn:hover {
    color: #212529;
    text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.fcf-btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.fcf-btn-block {
    display: block;
    width: 100%;

/*.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: var(--bs-navbar-active-color);
}


/*--bs-navbar-brand-hover-color: rgba(141, 25, 250, 0.9);
--bs-navbar-active-color: rgba(141, 25, 250, 0.9);

purple (154,117,240)
aqua (0, 255, 255)